.scale-in {
    animation: scale-in-center 1s;
    animation-fill-mode: forwards;
}

.scale-out {
    animation: scale-out-center 1s;
    animation-fill-mode: forwards;
}

.slide-in {
    animation: slide-in-elliptic-top-fwd 1s;
    animation-fill-mode: forwards;
}

.slide-out {
    animation: slide-out-elliptic-top-bck 1s;
    animation-fill-mode: forwards;
}

.roll-in {
    animation: roll-in-blurred-left 1s;
    animation-fill-mode: forwards;
}

.roll-out {
    animation: roll-out-blurred-right 1s;
    animation-fill-mode: forwards;
}

.jumbotron {
    text-align: center;
}

#quiz, #results {
    visibility: hidden
}

#quiz {
    z-index: 1;
}

.btn {
    width: 200px;
    margin: 0 10px;
}

#start {
    width: 100%;
    margin: 0 auto;
}

#prompt {
    margin: 0 auto;
    text-align: center;
}

#answer {
    position: fixed;
    border: 1px solid;
    border-color: black;
    top: 50%;
    left: 32%;
    visibility: hidden;
}

#right, #wrong{
    margin: 0 auto;
    width: 50%;
}

#right {
    background-color: green;
}

#wrong {
    background-color: red;
}