body {
    padding-top: 5px;
}

hr {
    padding: auto 5px;
}

.scale-in {
    animation: scale-in-center 1s;
    animation-fill-mode: forwards;
}

.scale-out {
    animation: scale-out-center 1s;
    animation-fill-mode: forwards;
}

.slide-in {
    animation: slide-in-elliptic-top-fwd 1s;
    animation-fill-mode: forwards;
}

.slide-out {
    animation: slide-out-elliptic-top-bck 1s;
    animation-fill-mode: forwards;
}

.roll-in {
    animation: roll-in-blurred-left 1s;
    animation-fill-mode: forwards;
}

.roll-out {
    animation: roll-out-blurred-right 1s;
    animation-fill-mode: forwards;
}

.puff-in {
    animation: puff-in-center 1s;
    animation-fill-mode: forwards
}

.puff-out {
    animation: puff-out-center 1s;
    animation-fill-mode: forwards
}

.pulse {
    animation: heartbeat 3s infinite;
}

.jumbotron {
    text-align: center;
    border: 1px solid;
    border-color: black;
}

#quiz, #results {
    visibility: hidden
}

#quiz {
    z-index: 1;
}

.btn {
    width: 200px;
    margin: 5px 10px;
}

#start {
    width: 100%;
    margin: 0 auto;
}

#prompt {
    margin: 0 auto;
    text-align: center;
}

#answer {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    visibility: hidden;
}

#results {
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
}

#right, #wrong{
    margin: 0 auto;
    width: 50%;
    color: whitesmoke;
}

#right {
    background-color: green;
    padding: 0px 5px;
}

#wrong {
    background-color: red;
    padding: 0px 5px;
}